/* Write code for your CSS here */
.mid-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    max-width: 80vw;
    margin: 0 auto;
}

.skill-list
{
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
}

.skill-list li
{
    list-style-position: inside;
    list-style-type: none;
    margin-inline-end: 50px;
    padding: 1.5vh;
    border-radius: 1vh;
    padding-inline-start: 0 px;
    background-color: aqua;
}

.name
{
    font-weight: bolder;
}